.container {
  background-color: rgba(1, 1, 14, 0.863);
  margin: auto;
  min-height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
}

.title {
  font-size: 50px;
  text-align: center;
  margin-top: 5px;
  text-decoration: underline;
}

.app-container {
  margin: auto;
  justify-content: center;
  display: flex;
  gap: 200px;
}

.song-container {
  margin: auto;
  margin-top: 0;
  display: flex;
  gap: 200px;
}

.randomize-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-self: flex-end;
}

.randomize-button {
  border: none;
  background-color: grey;
  cursor: pointer;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  width: 250px;
  white-space: normal !important;
  word-wrap: break-word;
}

.randomize-button:hover {
  background-color: rgb(224, 219, 219);
  color: black;
}

a {
  color: grey;
}

a:hover {
  color: rgb(224, 219, 219);
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
}

.song-search {
  appearance: none;
  background-color: grey;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  border-radius: 5px;
  padding: 15px 32px;
  color: white;
}
